<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seniordesign.seniordesign" >
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        android:resizeable="true"/>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Startsession"
            android:label="@string/title_activity_startsession"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniordesign.seniordesign.MainActivity" />
        </activity>
        <activity
            android:name=".Startscore"
            android:label="@string/title_activity_startscore"
            android:parentActivityName=".Startsession" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniordesign.seniordesign.Startsession" />
        </activity>
        <activity
            android:name=".Clustersize"
            android:label="@string/title_activity_clustersize"
            android:parentActivityName=".Startsession" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniordesign.seniordesign.Startsession" />
        </activity>
        <activity
            android:name=".Accuracy"
            android:label="@string/title_activity_accuracy"
            android:parentActivityName=".Startsession" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniordesign.seniordesign.Startsession" />
        </activity>
    </application>

</manifest>
